@model IEnumerable<Equipment>

<h1>All Equipment</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Equipment ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Available</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Model)
        {
            <tr class="@(equipment.Available ? "table-success" : "table-danger")">
                <td>@equipment.Id</td>
                <td>@equipment.Type</td>
                <td>@equipment.Description</td>
                <td>@(equipment.Available ? "Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>
